html {height:100%; background:white}
body {width:100%; height:100%; background:white}
div.data {position:absolute; top:0; bottom:0; left:0; right:50%; height:100%; background:url('../images/data_bkg.jpg') no-repeat center top #090909; z-index:10;}
div.data span.shadow {position:absolute; top:0; right:-34px; bottom:0; height:100%; width:34px; background:url('../images/data_shadow.png') repeat-y 0 0}

/*HEADER*/
div.header {display:block; width:100%; margin:42px 0 0 0; color:white}
div.header div.info {float:left; padding:0 0 0 27px}
div.header h1 {display:block; font:bold 23px Arial; color:#F1593E;}
div.header p {display:block; font:normal 12px Arial; color:#666666;}
div.header p a {color:#CCCCCC; border-bottom:1px solid #CCCCCC; text-decoration:none}
div.header p a:hover {color:#EEEEEE; border-color:#EEEEEE}
div.header a.oldweather {float:right; width:147px; height:36px; margin:0 27px 0 0; text-indent:-9999px; background:url('/images/logo.png') no-repeat 0 0; line-height: 0px; font-size:0;}

/*MAMUFAS*/
div.mamufas {position:fixed; top:0; left:0; right:0; bottom:0; width:100%; height:100%; background:url('/images/loader_bkg.png') repeat 0 0; z-index:10;}
div.mamufas span.loader {position:absolute; top:50%; left:50%; margin:-22px 0 0 -22px; height:44px; width:44px; background:url('/images/spinner_bkg.png') no-repeat 0 0;}
div.mamufas span.loader img {margin:6px 0 0 6px;}
div.mamufas p {position:absolute; top:50%; left:50%; width:100px; height:auto; margin:-100px 0 0 0 -100px!important; font:bold 14px "PT Sans","Helvetica",Arial; color:white; text-align:center;}

/*STATS*/
div.stats {float:left; display:block; width:100%; margin:48px 0 0;}
div.stats div.controls {height:26px; padding:0 27px}
div.stats div.controls span.toggle {width:71px; height:25px;}
div.stats div.controls span.toggle a {float:left; width:24px; height:25px; text-indent:-9999px; line-height:0; font-size:0;}
div.stats div.controls span.toggle a#bulb {background:url('/images/icons.png') no-repeat 0 0}
div.stats div.controls span.toggle a#air {width:23px; background:url('/images/icons.png') no-repeat -24px 0}
div.stats div.controls span.toggle a#sea {background:url('/images/icons.png') no-repeat -48px 0}
div.stats div.controls span.toggle a:hover {background-position-y:-25px}
div.stats div.controls span.toggle a.selected {background-position-y:-25px}
div.stats div.controls span.toggle a.selected:hover {background-position-y:0px}
div.stats div#graph {width:100%; height:237px; margin:5px 0 0 0; overflow:hidden;}


/*LIST*/
div.list {position:absolute; top:50%; left:0; right:0; bottom:0; background:#f4f4f4;}
table {width:100%}
table thead {position:relative; width:100%; height:36px; background:white;}
table thead tr {position:relative; float:left; width:100%; height:36px; background:white; border-bottom:1px solid #e0e0e0;}
table thead tr th {height:36px; background:url('/images/th_bkg.png') no-repeat right center;}
table thead tr th div {position:relative; height:15px; margin:12px 0 0 10px; font:bold 11px Arial; color:#333333; text-align:left;}
table thead tr th div.light {color:#666666}
table tbody {width:100%}
table tbody tr {position:relative; float:left; width:100%; height:38px; border-bottom:1px solid #e2e2e2;}
table tbody tr.light {background:url('/images/li_bkg_1.png') repeat-x 0 0;}
table tbody tr.dark {background:url('/images/li_bkg_2.png') repeat-x 0 0;}
table tbody tr.hover {background:url('/images/li_bkg_hover.png') repeat-x 0 0;}
table tbody tr:hover {background:url('/images/li_bkg_hover.png') repeat-x 0 0; cursor:pointer;}
table tbody tr td {height:38px; background:url('/images/td_bkg.png') no-repeat right center;}
table tbody tr td div {position:relative; height:15px; padding:12px 0 13px 10px; font:normal 13px Arial; color:#666666; text-align:left;}

/*VALUES EDITOR*/
div.editor {position:absolute; display:none; top:50px; bottom:50px; width:175px; height:auto;}
div.editor div.top {display:block; width:175px; height:15px; background:url('/images/top_editor.png') no-repeat 0 0;}
div.editor div.mid {display:block; width:143px; height:auto; padding:3px 16px 5px; background:url('/images/mid_editor.png') no-repeat 0 0;}
div.editor div.mid div.first input {width:133px; height:13px; margin:4px 0; padding:6px 5px 7px; border:none; background:url('/images/input.png') no-repeat 0 0; font:bold 13px Arial; color:#666666;}
div.editor div.mid div.first input.error {background-position:0 -26px; color:red;}
div.editor div.mid div.second {display:none;}
div.editor div.mid div label {display:block; font:normal 11px Arial; color:#464646;}
div.editor div.mid div.second p {display:block; padding:0 0 5px; font:bold 13px Arial; color:#666666;}
div.editor div.mid div.second p.new {padding:0; color:#999999;}





/*date - selects*/
div.editor div.mid div.date {padding:0 0 5px;}
div.editor div.mid div.date span.select {position:relative; display:inline-block; width:100%;}
div.editor div.mid div.date span.select label {padding:5px 0 3px 0;}
div.editor div.mid div.date span.select a {float:left; width:auto; height:22px; padding:0 0 0 2px; background:url('/images/left-select.png') no-repeat 0 0; text-decoration:none;}
div.editor div.mid div.date span.select a span {float:left; width:auto; height:12px; padding:5px 20px 5px 5px; background:url('/images/right-select.png') no-repeat right 0; font:normal 12px Arial; color:#666666;}
div.editor div.mid div.date span.select.day a span {width:15px;}
div.editor div.mid div.date span.select.month a span {width:80px;}
div.editor div.mid div.date span.select.year a span {width:30px;}

div.editor div.mid div.date span.select a:hover span {color:#333333;}
div.editor div.mid div.date span.select ul {position:absolute; display:none; top:40px; width:auto; max-height:100px; padding:5px 10px; border:1px solid #CCCCCC; z-index:10; background:#EEEEEE; overflow:auto; overflow-x:hidden;}
div.editor div.mid div.date span.select.day ul {width:20px;}
div.editor div.mid div.date span.select.month ul {width:85px;}
div.editor div.mid div.date span.select.year ul {width:35px;}

div.editor div.mid div.date span.select ul li {width:100%; font:normal 12px "Helvetica"; color:#666666;}
div.editor div.mid div.date span.select ul li:hover {color:#333333; cursor:pointer;}



div.editor div.bottom {display:block; width:143px; height:39px; padding:8px 16px 0; background:url('/images/bottom_editor.png') no-repeat 0 0;}
div.editor div.bottom a.cancel {float:left; margin:2px 0 0 0; font:normal 13px Helvetica; color:#8b8b8b;}
div.editor div.bottom a.cancel:hover {color:white;}
div.editor div.bottom a.next {float:right; width:auto; height:21px; padding:0 0 0 1px; background:url('/images/editor_button_left.png') no-repeat 0 0;}
div.editor div.bottom a.next span {float:right; width:auto; height:11px; padding:5px 8px 5px 7px; background:url('/images/editor_button_right.png') no-repeat right 0; font:bold 11px Arial; color:white; text-shadow: 0 1px #6E281B; line-height:11px;}
div.editor div.bottom a.next:hover {background-position:0 -21px; cursor:pointer;}
div.editor div.bottom a.next:hover span {background-position:right -21px;}




/*LEAFLET MAP*/

div#map {position:absolute; top:0; bottom:50%; right:0; left:50%; z-index:1;}
a.zoom_in {position:absolute; right:10px; top:10px; width:26px; height:26px; background:url('/images/zoom.png') no-repeat -26px 0; z-index:10}
a.zoom_in:hover {background-position:-26px -26px}
a.zoom_out {position:absolute; right:10px; top:40px; width:26px; height:26px; background:url('/images/zoom.png') no-repeat 0 0; z-index:10}
a.zoom_out:hover {background-position:0 -26px}
  
a.ok {position:absolute; left:53%; top:20px; width:60px; height:60px; background:url('/images/ok.png') no-repeat 0 0; z-index:10;}
a.ok:hover {background-position:0 -60px;}

/*MARKER*/
div.marker {position:absolute; display:block; width:10px; height:10px; background:url('/images/marker.png') no-repeat 0 0; z-index:10;}
div.marker.hover {background-position:0 -10px; cursor:pointer;}
div.marker p {position:absolute; top:-11px; left:-6px; font:bold 11px Arial; color:#F25A3D;}
div.marker.hover p {color:black;}


/*LOGBOOK*/
div.logbook {position:absolute; bottom:0; right:0; left:50%; top:50%; background:#F7F7F7}
div.logbook div.legend {position:absolute; bottom:0; right:0; left:0; top:0; width:100%; height:100%; background:#DDDDDD; font:normal 13px Arial;}
div.logbook div.legend h4,div.logbook div.legend h5 {margin:20px 0 0 20px}
div.logbook div.legend ul,div.logbook div.legend ol {margin:10px 0 0 20px}


.machine_verified {color:green;}
.pending_correction {color:orange;}
.pending_confirmation {color:orange;}
.user_verified {color:green;}
.user_unverified {color:#FFFF33;}